    {{> header}}

        <h1>{{heading}}</h1>
	
    <form>
        <textarea name="message" cols="30" rows="10"></textarea>
        <button type="submit">Send</button>
    </form>

    <button id='send-location'>Send location</button>
	<script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>

    {{> footer}}
